aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
altgraph==0.17.5
anyio==4.14.2
attrs==26.1.0
av==18.1.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.4.2
colorama==0.4.6
comtypes==1.4.16
ctranslate2==4.8.1
edge-tts==7.2.8
faster-whisper==1.2.1
filelock==3.32.3
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.7.0
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.28.0
idna==3.19
multidict==6.7.1
numpy==2.5.2
onnxruntime==1.29.0
openwakeword==0.6.0
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
propcache==0.5.2
protobuf==7.36.0
psutil==7.2.2
pycaw==20251023
pycparser==3.0
pypiwin32==223
python-dotenv==1.2.3
pywin32==312
pywin32-ctypes==0.2.3
PyYAML==6.0.3
requests==2.34.2
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.6
tabulate==0.10.0
threadpoolctl==3.6.0
tokenizers==0.23.1
tqdm==4.70.0
typing_extensions==4.16.0
urllib3==2.7.0
yarl==1.24.5
